.cd {
  margin-top: 20px;
  margin-bottom: 40px;
}

.link {
  font-size: 16px;
  color: #333333;
  text-decoration: underline;
  text-decoration-color: #333333;;
}

.link:hover {
  color: #000000;
  text-decoration-color: #000000;
}
